body {
  border: 10px groove greenyellow;
  margin: 20px;
}
.box {
  color: white;
  background-color: black;
  border: 5px solid red;
  border-radius: 25px;
  padding: 25px 80px 25px 80px;
  width: fit-content;
  height: fit-content;
  font-style: oblique;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}
.box3 {
  line-height: 40px;
}
.box2 {
  padding-bottom: 5px;
  padding-right: 40px;
  position: relative;
  right: 190px;
  bottom: 20px;
}
.box1 {
  padding-left: 20px;
}
#top {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
#second {
  display: flex;
  justify-content: space-evenly;
}
#circle {
  background-color: teal;
  border: 5px solid gray;
  width: 400px;
  height: 400px;
  margin: 300px 50px 50px 50px;
  border-radius: 50%;
  text-decoration: underline;
  font-weight: bolder;
  font-style: oblique;
  text-align: center;
  font-size: large;
  line-height: 30px;
}
#register {
  border: 5px dashed red;
  width: fit-content;
  text-align: center;
  color: rgb(233, 152, 138);
}
.menu {
  margin: auto;
  width: 20%;
  margin-left: 35%;
}
#h1 {
  font-size: x-large;
  font-weight: bolder;
}
.recipe {
  background-color: rgb(134, 243, 232);
  border: 3px solid green;
  border-radius: 25px;
  text-align: center;
  color: blue;
  width: 8cm;
  display: block;
  margin: auto;
  margin-top: 20px;
}
.row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
}
